.App {
  background-color: rgb(1, 0, 56);
}
.body {
  background-color: rgb(1, 0, 56);
}

.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 37.1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 33);
}
